<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create New Order 1/2</h1>

<br>

<form method="post" th:object="${orderDto}" th:action="${flowExecutionUrl}">

    Enter first name:
    <input class="form-control" type="text" th:field="*{firstName}" />
    <p class="alert alert-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></p>


    <br><br>

    <input type="submit" name="_eventId" value="back" />
    <input type="submit" name="_eventId" value="next" />

</form>




</body>
</html>